@font-face {
  font-family: "Maratype";
  src: url("/assets/fonts/maratype.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Heading Now 44";
  src: url("/assets/fonts/heading-now-44-regular.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Heading Now 26 Bold";
  src: url("/assets/fonts/heading-now-26-bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Heading Now 27 Extrabold";
  src: url("/assets/fonts/heading-now-27-extrabold.ttf") format("truetype");
  font-display: swap;
  font-weight: 800;
}

@font-face {
  font-family: "Heading Now 35 Medium";
  src: url("/assets/fonts/heading-now-35-medium.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
}
