.brand-logo {
  justify-self: center;
  width: 62px;
  height: 62px;
  object-fit: contain;
}

.brand-fallback {
  justify-self: center;
  width: 62px;
  height: 62px;
  background-image: url("/assets/avto_logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
