.market-player-avatar {
  position: relative;
  width: 52px;
  height: 52px;
  overflow: hidden;
  border-radius: 50%;
}

.market-player-avatar img {
  width: 89px;
  height: 89px;
  object-fit: contain;
  transform: translate(-19px, 6px);
}

.market-player-avatar i {
  position: absolute;
  right: 1px;
  bottom: 3px;
  display: grid;
  place-items: center;
  width: 18px;
  height: 18px;
  background: #151515;
  border: 2px solid #FDFFFF;
  border-radius: 50%;
  color: #FDFFFF;
  font-size: 12px;
  font-style: normal;
}
