.market-player-avatar {
  width: 52px;
  height: 52px;
  overflow: hidden;
  border-radius: 50%;
}

.market-player-avatar img {
  width: 66px;
  height: 66px;
  object-fit: contain;
  transform: translate(-11px, 7px);
}
