.market-player-avatar {
  width: 52px;
  height: 52px;
  overflow: hidden;
  border-radius: 50%;
}

.market-player-avatar img {
  width: 89px;
  height: 89px;
  object-fit: contain;
  transform: translate(-19px, 6px);
}
